PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/accountech_db
JWT_SECRET=any_long_random_string
JWT_EXPIRES_IN=7d
LOGIN_OTP_ENABLED=true
ALLOWED_EMAIL_DOMAIN=phinmaed.com
BCRYPT_ROUNDS=12
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_FROM_EMAIL=your_verified_sender@example.com
SENDGRID_FROM_NAME=AccounTech
